@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Sarala:wght@400;700&display=swap');

::-webkit-scrollbar{
  width: 8px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece{
  background-color: #252525;
}

::-webkit-scrollbar-thumb{
	border-radius: 100px;
  background-color: rgb(167, 167, 167);

}

::-webkit-scrollbar-thumb:hover{
	background-color: #525252;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: auto;
  background-color: #252525;
}

header{
  position: absolute;
  width: 100%;
  height: 980px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0.41%;
  background: linear-gradient(65.99deg, #23232F 11.05%, #52758E 88.83%);
}

.title{
  position: absolute;
  width: 697px;
  height: 115px;
  left: 316px;
  top: 265px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 163px;
  color: #CFE6F0;
}

nav{
  text-align: center;
  position: relative;
  height: 105px;
  width: 100%;
  left: 0px;
  top: 981px;
  background: #CFE6F0;
}

.nav-profession{
  position: absolute;
  width: 196px;
  height: 39px;
  left: 325px;
  top: 30%;
}

.nav-join{
  text-align: center;
  position: absolute;
  width: 332px;
  height: 39px;
  left: 794px;
  top: 34px;
}

.nav-course{
  position: absolute;
  width: 157px;
  height: 39px;
  left: 1399px;
  top: 30%;
}

a{
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
  text-decoration: none;
}

content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 1087px;
  background: #252525;
}

#discover{
  position: absolute;
  width: 100%;
  height: 6300px;
  left: 0px;
  top: 50px;
}

.discover{
  position: absolute;
  width: 547px;
  height: 104px;
  left: 687px;
  top: 30px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104px;
  color: #CFE6F0;
}

h2{
  position: absolute;
  width: 723px;
  height: 188px;
  left: 316px;
  top: 460px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  color: #E6F2F8;
}

#subtitle{
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  color: #CFE6F0;
}

.subtitle1{
  position: absolute;
  width: 366px;
  height: 65px;
  left: 327px;
  top: 219px;
}

.subtitle2{
  position: absolute;
  width: 368px;
  height: 65px;
  left: 327px;
  top: 880px;
}

.subtitle3{
  position: absolute;
  width: 383px;
  height: 65px;
  left: 327px;
  top: 1345px;
}

.subtitle4{
  position: absolute;
  width: 269px;
  height: 65px;
  left: 327px;
  top: 262px;
}

.subtitle5{
  position: absolute;
  width: 444px;
  height: 47px;
  left: 315px;
  top: 1515px;
}

p{
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #E6F2F8;
}

.p1{
  position: absolute;
  width: 633px;
  height: 450px;
  left: 327px;
  top: 315px;
}

.p1-2{
  position: absolute;
  width: 1297px;
  height: 60px;
  left: 327px;
  top: 765px;

}

.ux-wall{
  position: absolute;
  width: 638px;
  height: 426px;
  left: 977px;
  top: 340px;
}

.p2{
  position: absolute;
  width: 1294px;
  height: 300px;
  left: 327px;
  top: 970px;
}

.p3{
  position: absolute;
  width: 625px;
  height: 240px;
  left: 327px;
  top: 1430px;  
}

.bridge{
  position: absolute;
  width: 638px;
  height: 211px;
  left: 970px;
  top: 1460px;  
}

.p3-2{
  position: absolute;
  width: 1290px;
  height: 300px;
  left: 327px;
  top: 1700px;
}

#labor{
  position: absolute;
  width: 100%;
  height: 800px;
  left: 0px;
  top: 2100px;
}

.market{
  position: absolute;
  width: 637px;
  height: 104px;
  left: 644px;
  top: 50px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104px;
  text-align: center;
  color: #CFE6F0;
}

.p4{
  position: absolute;
  width: 1287px;
  height: 570px;
  left: 327px;
  top: 350px;
}

.p5{
  position: absolute;
  width: 1289px;
  height: 150px;
  left: 315px;
  top: 1613px;
}

.graphic1{
  position: absolute;
  width: 850px;
  height: 530px;
  left: 27%;
  top: 925px;
}

.graphic2{
  position: absolute;
  width: 662px;
  height: 568px;
  left: 629px;
  top: 1803px;
}

#career{
  position: absolute;
  width: 100%;
  height: 1800px;
  left: 0px;
  top: 4500px;
}

.career{
  position: absolute;
  width: 798px;
  height: 86px;
  left: 561px;
  top: 120px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104px;
  text-align: center;
  color: #CFE6F0;
}

.p6{
  position: absolute;
  width: 1287px;
  height: 184px;
  left: 311px;
  top: 302px;
}

.ux-course{
  position: absolute;
  width: 100%;
  height: 415px;
  left: 0px;
  top: 567px;
}

.subtitle6{
  position: absolute;
  width: 760px;
  height: 78px;
  left: 311px;
  top: 0px;
}

.subtitle7{
  position: absolute;
  width: 234px;
  height: 65px;
  left: 311px;
  top: 112px;
}

.anhanguera1{
  position: absolute;
  width: 240px;
  height: 159px;
  left: 311px;
  top: 230px;
}

.subtitle8{
  position: absolute;
  width: 211px;
  height: 65px;
  left: 855px;
  top: 112px;
}

.fiap{
  position: absolute;
  width: 268px;
  height: 79px;
  left: 826px;
  top: 270px;
}

.subtitle9{
  position: absolute;
  width: 212px;
  height: 65px;
  left: 1387px;
  top: 112px;
}

.mackenzie1{
  position: absolute;
  width: 159px;
  height: 159px;
  left: 1413px;
  top: 225px;
}

.ui-course{
  position: absolute;
  width: 100%;
  height: 481px;
  left: 0px;
  top: 982px;
}

.subtitle10{
  position: absolute;
  width: 743px;
  height: 78px;
  left: 311px;
  top: 7px;
}

.subtitle11{
  position: absolute;
  width: 142px;
  height: 65px;
  left: 678px;
  top: 93px;
}

.puc{
  position: absolute;
  width: 203px;
  height: 323px;
  left: 648px;
  top: 200px;
}

.subtitle12{
  position: absolute;
  width: 287px;
  height: 65px;
  left: 1100px;
  top: 93px;
}

.ecole{
  position: absolute;
  width: 320px;
  height: 299px;
  left: 1083px;
  top: 200px; 
}

.specialization{
  position: absolute;
  width: 1920px;
  height: 318px;
  left: 0px;
  top: 1463px;
}

.subtitle13{
  position: absolute;
  width: 592px;
  height: 78px;
  left: 311px;
  top: 56px;
}

.anhanguera2{
  position: absolute;
  width: 240px;
  height: 159px;
  left: 311px;
  top: 170px;
}

.mba{
  position: absolute;
  width: 395px;
  height: 68.24px;
  left: 785px;
  top: 210px;
}

.mackenzie2{
  position: absolute;
  width: 159px;
  height: 159px;
  left: 1413px;
  top: 170px;
}

footer{
  position: absolute;
  width: 100% ;
  height: 525px;
  left: 0px;
  top: 7500px;
  background: linear-gradient(180deg, rgba(173, 216, 234, 0.72) 0%, rgba(207, 230, 240, 0.83) 40.16%, rgba(250, 253, 255, 0.9) 90.97%);
}

.collumn1{
  position: absolute;
  width: 336px;
  height: 348px;
  left: 320px;
  top: 10px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}

.collumn2{
  position: absolute;
  width: 292px;
  height: 285px;
  left: 834px;
  top: 100px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}

.collumn3{
  position: absolute;
  width: 262px;
  height: 203px;
  left: 1300px;
  top:105px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}