/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Sarala:wght@400;700&display=swap');
/* Scrollbar */
::-webkit-scrollbar{
  width: 8px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece{
  background-color: #252525;
}
::-webkit-scrollbar-thumb{
	border-radius: 100px;
  background-color: rgb(167, 167, 167);
}
::-webkit-scrollbar-thumb:hover{
	background-color: #525252;
}

/* Estrutura */
html {
  scroll-behavior: smooth;
}
body{
  background-color: #252525;
  padding: 0;
  margin: 0;
}

/* Header */
header{
  position: relative;
  width: 100%;
  height: 980px;
  background: linear-gradient(65.99deg, #23232F 11.05%, #52758E 88.83%);
}
.title{
  position: absolute;
  width: 750px;
  height: 115px;
  left: 320px;
  top: 265px;
  font-family: 'Sarala';
  font-size: 100px;
  color: #C3E0EC;
  transition: 1.5s ease;
}
.title:hover{
  transform: scale(1.03)
}

h2{
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  color: #E6F2F8;
}
.ex{
  left: 320px;
  top: 450px;
  position: relative;
  width: 800px;
  height: 300px;
}

/* Navigation */
nav{
  text-align: center;
  position: sticky;
  height: 90px;
  width: 100%;
  top: 0;
  justify-content: space-evenly;
  background: #cfe6f0ec;
  display: flex;
  overflow: hidden;
  z-index: 2;
}
nav li{
  list-style: none;
}
nav a{
  position: relative;
  top: 27%;
  font-weight: 700;
  font-family: 'Sarala';
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
  display: inline-block;
  transition: 1.5s;
}
nav a::after{
  content: '';
  width: 0;
  height: 5px;
  background-color: #252525;
  margin: auto;
  display: block;
  border-radius: 30px;
}
nav a:hover::after{
  width: 100%;
  transition: width 1s ease;
  margin-top: 5px;
}
nav a:hover{
  font-size: 27px;
}



/* Content */
content {
  width: 100%;
  height: 6300px;
  left: 0px;
  top: 1087px;
  align-content: center;
}


/* Discover */
#title{
  display: flex;
  justify-content: center;
}
#discover{
  position: relative;
  width: 100%;
  height: 2400px;
  left: 0px;
  top: 0px;
  background-color: #252525;
}
h1{
  top: 30px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104px;
  color: #C3E0EC;
}

/* Section1 */
#sec1{
  position: relative;
  height: 720px;
  display: flex;
  justify-content: space-evenly;
}
.center{
  width: 65%;
  height: 100%;
  margin: auto;
}
#txt1{
  width: 58%;
}
.sub{
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  color: #CFE6F0;
  position: relative;
  height: 65px;
}
#div-wall{
  position: relative;
  height: 90%;
  width: 626px;
}
.ux-wall{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 98%;
}



/* Section2 */
#sec2{
  position: relative;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
}
#div-ui{
  position: relative;
  height: 100%;
  width: 60%;
}
.ui-img{
  width: 100%;
}
#txt2{
  position: relative;
  height: 100%;
  width: 75%;
  padding-left: 20px;
  top: 100px;
}


/*Section 3*/
.centercareer{
  height: 1670px;
  width: 65%;
  margin: auto;
}
#sec3{
  position: relative;
  height: 720px;
}
#top{
  display: flex;
  justify-content: space-evenly;
} 
#div-diff{
  position: relative;
  height: 83%;
  padding-top: 125px;
  width: 626px;
}
.bridge{
  position: relative;
  width: 100%;
}









p{
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #E6F2F8;
}


#labor{
  position: relative;
  width: 100%;
  height: 2500px;
  left: 0px;
  top: 0px;
  background-color: #2A2A2A;
}
#sec4{
  position: relative;
  height: 1150px;
}
#sec5{
  position: relative;
  height: 950px;
}
.div-img{
  text-align: center;
}
.graph{
  position: relative;
  width: 850px;
  height: 530px;
  text-align: center;
  top: 10%px;
}
.graph2{
  position: relative;
  top: 50px;
}





#career{
  position: relative;
  width: 100%;
  height: 1858px;
  left: 0px;
  top: 0px;
  background-color: #252525;
}




/* UX Graduation */
.ux-course{
  position: relative;
  width: 100%;
  height: 415px;
  top: 50px;
}
.subs{
  text-align: center;
  height: 90px;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}
.sub3{
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  width: 20px;
  line-height: 39px;
  color: #E6F2F8;
}
#publi{
  width: 260px;
}
#mkt{
  width: 250px;
}
#pedag{
  width: 200px;
}
.ux-links{
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}
.anhanguera{
  position: relative;
  height: 150px;
  display: inline-block;
  transition: 1.5s; 
}
.fiap{
  position: relative;
  width: 268px;
  display: inline-block;
  top: 35px;
  transition: 1.5s;
}
.mackenzie{
  position: relative;
  width: 150px;
  display: inline-block;
  transition: 1.5s;
  top: 0px;
}
.ux-links img:hover{
  transform: scale(1.15)
}
.ux-links li{
  list-style: none;
}





/* UI Graduation */
.ui-course{
  position: relative;
  width: 100%;
  height: 610px;
  top: 50px;  
}
.ui-links{
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}
#design-puc{
  width: 200px;
}
#design-ecole{
  width: 280px;
}
.puc{
  position: relative;
  display: inline-block;
  transition: 1.5s;
  width: 200px;
}
.ecole{
  position: relative;
  display: inline-block;
  transition: 1.5s;
  width: 280px;
}
.ui-links img:hover{
  transform: scale(1.15)
}
.ui-links li{
  list-style: none;
}





/* UX/UI Specialization */
.specialization{
  position: relative;
  width: 100%;
  height: 318px;
}
.links{
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  top: 30px;
}
.mba{
  width: 395px;
  height: 68.24px;
  top: 35px;
  position: relative;
  display: inline-block;
  transition: 1.5s; 
}
.specialization-links img:hover{
  transform: scale(1.15)
}
.specialization-links li{
  list-style: none;
}



/*Video Div*/
#video{
  position: relative;
  width: 100%;
  height: 900px;
  left: 0px;
  top: 0px;
  background-color: #2A2A2A;
}
#div-video{
  top: 50px;
  text-align: center;
}


/* Footer */
footer{
  position: relative;
  width: 100% ;
  height: 570px;
  left: 0px;
  background: linear-gradient(180deg, rgba(173, 216, 234, 0.72) 0%, rgba(207, 230, 240, 0.83) 40.16%, rgba(250, 253, 255, 0.9) 90.97%);
}
.footer{
  text-align: center;
}
.collumn1{
  position: absolute;
  width: 336px;
  height: 348px;
  left: 290px;
  top: 100px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}

.collumn2{
  position: absolute;
  width: 292px;
  height: 285px;
  left: 780px;
  top: 100px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}

.collumn3{
  position: absolute;
  width: 262px;
  height: 203px;
  left: 1200px;
  top:105px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}