@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Sarala:wght@400;700&display=swap');

::-webkit-scrollbar{
  width: 8px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece{
  background-color: #252525;
}

::-webkit-scrollbar-thumb{
	border-radius: 100px;
  background-color: rgb(167, 167, 167);

}

::-webkit-scrollbar-thumb:hover{
	background-color: #525252;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #252525;
  padding: 0;
  margin: 0;
}

header{
  position: relative;
  width: 100%;
  height: 980px;
  background: linear-gradient(65.99deg, #23232F 11.05%, #52758E 88.83%);
}

/* Title */
.title{
  position: absolute;
  width: 750px;
  height: 115px;
  left: 320px;
  top: 265px;
  font-family: 'Sarala';
  font-size: 100px;
  color: #C3E0EC;
  transition: 1.5s ease;
}

.title:hover{
  transform: scale(1.03)
}
h2{
  position: absolute;
  width: 723px;
  height: 188px;
  left: 316px;
  top: 460px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  color: #E6F2F8;
}


/* Navigation */
nav{
  text-align: center;
  position: sticky;
  height: 90px;
  width: 100%;
  top: 0;
  justify-content: space-evenly;
  background: #cfe6f0ec;
  display: flex;
  overflow: hidden;
  z-index: 2;
}
nav li{
  list-style: none;
}
nav a{
  position: relative;
  top: 27%;
  font-weight: 700;
  font-family: 'Sarala';
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
  display: inline-block;
  transition: 1.5s;
}
nav a::after{
  content: '';
  width: 0;
  height: 5px;
  background-color: #252525;
  margin: auto;
  display: block;
  border-radius: 30px;
}
nav a:hover::after{
  width: 100%;
  transition: width 1s ease;
  margin-top: 5px;
}
nav a:hover{
  font-size: 27px;
}



/* Content */
content {
  width: 100%;
  height: 6300px;
  left: 0px;
  top: 1087px;
  align-content: center;
}

/* Discover */
#discover{
  position: relative;
  width: 100%;
  height: 2100px;
  left: 0px;
  top: 0px;
  background-color: #252525;
}

/* Section1 */
#subtitle{
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  color: #CFE6F0;
}
#sec1{
  width: 65%;
  height: 100%;
  margin: auto;
}
.discover{
  position: relative;
  width: 547px;
  height: 104px;
  left: 32%;
  right: inherit;
  top: 30px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104px;
  color: #C3E0EC;
}
.subtitle1{
  position: relative;
  width: 366px;
  height: 65px;
  left: 0;
  top: 2%;
}

/* TextArea1 */
#txt1{
  position: absolute;
  width: 32%;
}
.ux-wall{
  position: absolute;
  width: 626px;
  left: 50%;
  top: 290px;
}


.subtitle2{
  position: absolute;
  width: 368px;
  height: 65px;
  left: 327px;
  top: 880px;
}

.subtitle3{
  position: absolute;
  width: 383px;
  height: 65px;
  left: 327px;
  top: 1345px;
}

.subtitle4{
  position: absolute;
  width: 269px;
  height: 65px;
  left: 327px;
  top: 262px;
}

.subtitle5{
  position: absolute;
  width: 444px;
  height: 47px;
  left: 315px;
  top: 1515px;
}

p{
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #E6F2F8;
}

.p1{
  position: absolute;
  width: 633px;
  height: 450px;
  left: 327px;
  top: 315px;
}

.p1-2{
  position: absolute;
  width: 1297px;
  height: 60px;
  left: 327px;
  top: 765px;

}



.p2{
  position: absolute;
  width: 1294px;
  height: 300px;
  left: 327px;
  top: 970px;
}

.p3{
  position: absolute;
  width: 625px;
  height: 240px;
  left: 327px;
  top: 1430px;  
}

.bridge{
  position: absolute;
  width: 638px;
  height: 211px;
  left: 970px;
  top: 1460px;  
}

.p3-2{
  position: absolute;
  width: 1290px;
  height: 300px;
  left: 327px;
  top: 1700px;
}

#labor{
  position: relative;
  width: 100%;
  height: 2460px;
  left: 0px;
  top: 0px;
  background-color: #2A2A2A;
}

.market{
  position: absolute;
  width: 637px;
  height: 104px;
  left: 644px;
  top: 45px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700; 
  font-size: 64px;
  line-height: 104px;
  text-align: center;
  color: #C3E0EC;
}

.p4{
  position: absolute;
  width: 1287px;
  height: 570px;
  left: 327px;
  top: 350px;
}

.p5{
  position: absolute;
  width: 1289px;
  height: 150px;
  left: 315px;
  top: 1613px;
}

.graphic1{
  position: absolute;
  width: 850px;
  height: 530px;
  left: 27%;
  top: 925px;
}

.graphic2{
  position: absolute;
  width: 662px;
  height: 568px;
  left: 629px;
  top: 1803px;
}

#career{
  position: relative;
  width: 100%;
  height: 1858px;
  left: 0px;
  top: 0px;
  background-color: #252525;
}

.career{
  position: absolute;
  width: 798px;
  height: 86px;
  left: 561px;
  top: 70px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104px;
  text-align: center;
  color: #C3E0EC;
}

.p6{
  position: absolute;
  width: 1287px;
  height: 184px;
  left: 311px;
  top: 302px;
}


.ux-course{
  position: relative;
  width: 100%;
  height: 415px;
  left: 0px;
  top: 567px;
}

.subtitle6{
  position: absolute;
  width: 760px;
  height: 78px;
  left: 311px;
  top: 0px;
}

.subtitle7{
  position: absolute;
  width: 234px;
  height: 65px;
  left: 311px;
  top: 112px;
}

.subtitle8{
  position: absolute;
  width: 211px;
  height: 65px;
  left: 855px;
  top: 112px;
}

.subtitle9{
  position: absolute;
  width: 212px;
  height: 65px;
  left: 1387px;
  top: 112px;
}

.ui-course{
  position: absolute;
  width: 100%;
  height: 481px;
  left: 0px;
  top: 982px;
}

.subtitle10{
  position: absolute;
  width: 743px;
  height: 78px;
  left: 311px;
  top: 7px;
}

.subtitle11{
  position: absolute;
  width: 142px;
  height: 65px;
  left: 678px;
  top: 93px;
}

.subtitle12{
  position: absolute;
  width: 287px;
  height: 65px;
  left: 1100px;
  top: 93px;
}

.specialization{
  position: absolute;
  width: 1920px;
  height: 318px;
  left: 0px;
  top: 1463px;
}

.subtitle13{
  position: absolute;
  width: 592px;
  height: 78px;
  left: 311px;
  top: 56px;
}

/* UX Graduation */
.ux-links{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.anhanguera1{
  position: absolute;
  height: 150px;
  display: inline-block;
  transition: 1.5s;
  top: 0px;
  left: 325px;
}
.fiap{
  position: absolute;
  width: 268px;
  display: inline-block;
  transition: 1.5s;
  left: 845px;
  top: 20px;
}
.mackenzie1{
  position: absolute;
  width: 150px;
  display: inline-block;
  transition: 1.5s;
  left: 1420px;
  top: 0px;
}

.ux-links img:hover{
  transform: scale(1.15)
}
.ux-links li{
  list-style: none;
}


/* UI Graduation */
.ui-links{
  position: absolute;
  width: 100%;
  height: 250x;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.puc{
  position: absolute;
  display: inline-block;
  transition: 1.5s;
  width: 200px;
  left: 651px;
  top: 0px;
}

.ecole{
  position: absolute;
  display: inline-block;
  transition: 1.5s;
  width: 320px;
  height: 299px;
  left: 1083px;
  top: 0px;
}

.ui-links img:hover{
  transform: scale(1.15)
}

.ui-links li{
  list-style: none;
}



/* UX/UI Specialization */
.specialization-links{
  position: absolute;
  width: 100%;
  height: 170px;
  top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.anhanguera2{
  position: absolute;
  display: inline-block;
  transition: 1.5s;
  width: 240px;
  height: 159px;
  left: 325px;
  top: 0px;
}
.mba{
  position: absolute;
  display: inline-block;
  transition: 1.5s;
  width: 395px;
  height: 68.24px;
  left: 785px;
  top: 35px;
}
.mackenzie2{
  position: absolute;
  display: inline-block;
  transition: 1.5s;
  width: 159px;
  height: 159px;
  left: 1430px;
  top: 0px;
}
.specialization-links img:hover{
  transform: scale(1.15)
}
.specialization-links li{
  list-style: none;
}


/* Footer */
footer{
  position: relative;
  width: 100% ;
  height: 1080px;
  left: 0px;
  top: 1440px;
  background: linear-gradient(180deg, rgba(173, 216, 234, 0.72) 0%, rgba(207, 230, 240, 0.83) 40.16%, rgba(250, 253, 255, 0.9) 90.97%);
}

.collumn1{
  position: absolute;
  width: 336px;
  height: 348px;
  left: 320px;
  top: 10px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}

.collumn2{
  position: absolute;
  width: 292px;
  height: 285px;
  left: 834px;
  top: 100px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}

.collumn3{
  position: absolute;
  width: 262px;
  height: 203px;
  left: 1300px;
  top:105px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}