@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Sarala:wght@400;700&display=swap');

::-webkit-scrollbar{
  width: 8px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece{
  background-color: #252525;
}

::-webkit-scrollbar-thumb{
	border-radius: 100px;
  background-color: rgb(167, 167, 167);

}

::-webkit-scrollbar-thumb:hover{
	background-color: #525252;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: auto;
  background-color: #252525;
}

header{
  position: absolute;
  width: 100%;
  height: 870px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0.41%;
  background: linear-gradient(65.99deg, #23232F 11.05%, #52758E 88.83%);
}

.title{
  position: absolute;
  height: 100%;
  left: 210px;
  top: 200px;
  color: #CFE6F0;
  font-family: 'Sarala', sans-serif;
  font-style: normal;
  font-size: 90px;
}

nav{
  text-align: center;
  position: relative;
  height: 105px;
  width: 100%;
  left: 0px;
  top: 870px;
  background: #CFE6F0;
}

.nav-profession{
  position: absolute;
  width: 196px;
  height: 39px;
  left: 325px;
  top: 30%;
}

.nav-join{
  text-align: center;
  position: absolute;
  width: 332px;
  height: 39px;
  left: 794px;
  top: 34px;
}

.nav-course{
  position: absolute;
  width: 157px;
  height: 39px;
  left: 1399px;
  top: 30%;
}

a{
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
  text-decoration: none;
}

content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 975px;
  background: #252525;
}

#discover{
  position: absolute;
  width: 100%;
  height: 1950px;
  left: 0px;
  top: 50px;
}

.discover{
  position: absolute;
  width: 547px;
  height: 104px;
  left: 687px;
  top: 30px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104px;
  color: #CFE6F0;
}

h2{
  position: absolute;
  width: 723px;
  height: 188px;
  left: 210px;
  top: 370px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  color: #E6F2F8;
}

#subtitle{
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  color: #CFE6F0;
}

.subtitle1{
  position: absolute;
  width: 366px;
  height: 65px;
  left: 327px;
  top: 219px;
}

.subtitle2{
  position: absolute;
  width: 368px;
  height: 65px;
  left: 325px;
  top: 748px;
}

.subtitle3{
  position: absolute;
  width: 383px;
  height: 65px;
  left: 325px;
  top: 1267px;
}

p{
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #E6F2F8;
}

.p1{
  position: absolute;
  width: 1242px;
  height: 360px;
  left: 325px;
  top: 315px;
}

.p2{
  position: absolute;
  width: 1242px;
  height: 330px;
  left: 325px;
  top: 844px;
}

.p3{
  position: absolute;
  width: 1242px;
  height: 480px;
  left: 325px;
  top: 1363px;
}

#career{
  position: absolute;
  width: 100%;
  height: 480px;
  left: 0px; 
  top: 1920px;
}

.career{
  position: absolute;
  width: 796px;
  height: 98px;
  left: 562px;
  top: 30px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104px;
  color: #CFE6F0;
}

.p4{
  position: absolute;
  width: 1242px;
  height: 240px;
  left: 320px;
  top: 241px;
}

#course{
  position: absolute;
  width: 100%;
  height: 800px;
  left: 0px;
  top: 2400px;
}

.course{
  position: absolute;
  width: 502px;
  height: 104px;
  left: 709px;
  top: 50px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104px;
  color: #CFE6F0;
}

.p5{
  position: absolute;
  width: 755px;
  height: 510px;
  left: 326px;
  top: 240px;
}

footer{
  position: absolute;
  width: 100% ;
  height: 525px;
  left: 0px;
  top: 4211px;
  background: linear-gradient(180deg, rgba(173, 216, 234, 0.72) 0%, rgba(207, 230, 240, 0.83) 40.16%, rgba(250, 253, 255, 0.9) 90.97%);
}

.collumn1{
  position: absolute;
  width: 336px;
  height: 348px;
  left: 320px;
  top: 10px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}

.collumn2{
  position: absolute;
  width: 292px;
  height: 285px;
  left: 834px;
  top: 100px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}

.collumn3{
  position: absolute;
  width: 262px;
  height: 203px;
  left: 1300px;
  top:105px;
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #252525;
}